{{ define "main" }}
<body>
    <p>
        Hiya there!  This is the index file. <br>
        I put a buncha stuff that I have worked on over the numerous years, here on this website. <br>
        Feel free to browse! <br /> <br />

        About me: <br /> <br />

        My name is Natalie Shepherd and I currently am a student at The University Of Texas at Dallas. <br />
        My username is SomeoneEls on most of these projects. <br />
        With personal projects, not commercial ones, I add a little bit of my own humor to it. I plan on making the website more eyecatching later on.<br /> 
    </p>

</body>
{{ end }}
